fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
loguru # Thay cho Winston
slowapi                    
prometheus-fastapi-instrumentator # Xuất số liệu cho Monitoring
python-dotenv # Quản lý biến môi trường bảo mật